.qtt-gradient, .qtt-welcome__btn {
  background: #458bca;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #458bca 0%, #3fb1e5 30%, #2cc1d7 61%, #19b9a1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #458bca 0%, #3fb1e5 30%, #2cc1d7 61%, #19b9a1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #458bca 0%, #3fb1e5 30%, #2cc1d7 61%, #19b9a1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#458bca', endColorstr='#19b9a1',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.qtt-fadeInUp, .qtt-welcome__wrapper {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition-delay: 1s; }

.qtt-fadeInUp-slow, .qtt-welcome__logo, .qtt-welcome__title, .qtt-welcome__description, .qtt-welcome__actions, .qtt-welcome__followup, .qtt-welcome__info {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition-delay: 2s; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.qtt-welcome * {
  box-sizing: border-box; }

.qtt-welcome__container {
  display: table;
  width: 100%;
  height: 100%;
  padding: 30px 30px 30px 10px;
  vertical-align: middle; }

.qtt-welcome__wrapper {
  background: #fff;
  display: table-cell;
  width: 100%;
  height: 100%;
  padding: 80px 30px;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); }

.qtt-welcome__logo {
  text-align: center;
  transition-delay: 2.1s; }

.qtt-welcome__title {
  margin: 1.7em 0 0.8em 0;
  text-align: center;
  transition-delay: 2.3s; }

.qtt-welcome__description {
  margin: 0 auto 1em auto;
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
  max-width: 700px;
  transition-delay: 5.5s; }

.qtt-welcome__actions {
  margin: 30px 0 30px 0;
  clear: both;
  text-align: center;
  transition-delay: 6.8s; }

.qtt-welcome__btn {
  color: #fff;
  text-transform: uppercase;
  padding: 0 30px;
  line-height: 70px;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 0px solid #025c8f;
  border-top: 3px solid #025c8f;
  transition: border 0.3s; }
  .qtt-welcome__btn:hover {
    color: #fff;
    border-top: 0px solid #89c4e5;
    border-bottom: 3px solid #025c8f; }

.qtt-welcome__followup {
  margin: 0 auto 1em auto;
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  max-width: 700px;
  transition-delay: 7.5s; }

.qtt-welcome__form {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px; }
  .qtt-welcome__form input[type="text"] {
    width: 80%;
    float: left;
    margin: 0;
    line-height: 27px;
    padding: 0 0 0 14px;
    border-radius: 14px 0 0 14px; }
  .qtt-welcome__form input[type="submit"] {
    width: 20%;
    float: left;
    margin: 0;
    border-radius: 0 14px 14px 0; }

.qtt-welcome__center {
  text-align: center; }

.qtt-welcome__activation-msg {
  background: white;
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 30px;
  border-left: 4px solid #f00;
  font-size: 18px; }

.qtt-welcome__notice {
  padding: 10px 30px; }
  .qtt-welcome__notice h3 {
    margin: 7px 0 3px 0; }
  .qtt-welcome__notice p {
    margin-top: 3px; }
  .qtt-welcome__notice img {
    float: left;
    margin-right: 20px;
    border-right: 1px solid #dedede;
    padding-right: 20px;
    max-height: 55px;
    width: auto; }

.qtt-welcome__msg__error {
  color: red; }

.qtt-welcome__msg__success {
  color: green; }

.qtt-welcome__info {
  padding-left: 30px;
  background: white;
  padding-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); }
  .qtt-welcome__info h3 {
    display: block;
    position: relative;
    padding: 30px 0 0 0;
    margin: 0;
    opacity: .8; }
    .qtt-welcome__info h3::after {
      content: " ";
      display: inline-block;
      width: 8px;
      height: 8px;
      transform: rotate(135deg);
      border: 2px solid;
      border-left: none;
      border-bottom: none;
      margin-left: 30px; }
  .qtt-welcome__info ul {
    opacity: .7;
    margin-bottom: 0;
    max-height: 0;
    transition: max-height 1s ease-out, padding-bottom 0.2s;
    overflow: hidden;
    padding: 0;
    padding-bottom: 0;
    font-size: 16px; }
    .qtt-welcome__info ul li {
      margin-left: 20px;
      list-style: square;
      padding: 5px 0; }
  .qtt-welcome__info:hover ul {
    max-height: 500px; }

.qtt-notice__form {
  position: relative; }
  .qtt-notice__form .button {
    position: absolute;
    right: 0;
    top: 8px; }
