.qt-appicon {
	display: inline-block;width: 64px;height: 64px;padding: 0 !important; margin: 0 0.5rem ;
	padding: 8px;
	span {
		background-size: cover;
		display: block;
		 width: 48px;height: 48px;
		 margin: 8px;

	}
}
.qt-app_android {background-image:url(../img/app_android.png);}
.qt-app_iphone {background-image:url(../img/app_iphone.png);}
.qt-app_blackberry {background-image:url(../img/app_blackberry.png);}
.qt-app_itunes {background-image:url(../img/app_itunes.png);}
.qt-app_winphone {background-image:url(../img/app_winphone.png);}
.qt-app_winamp {background-image:url(../img/app_winamp.png);}
.qt-app_mediaplayer {background-image:url(../img/app_mediaplayer.png);}
.qt-app_tunein {background-image:url(../img/app_tunein.png);}