
/*  =============================== Text colors =============================== */

body, html, .qt-content-main, .qt-negative .qt-caption-small span, .qt-paper, .qt-negative .qt-caption-med, .qt-card, .qt-paper, .qt-card, .qt-card-s, .qt-negative .qt-caption-med span, input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	color: $qt-text-color; }

*::placeholder {
	color: $qt-text-color; }

.qt-text-secondary {
	color: $qt-text-color-secondary; }

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $qt-titles-color; }

a, .qt-content-main a, a.qt-logo-text span {
	color: $qt-color-accent;  }

.qt-content-aside, .qt-footer, .qt-tags {
	color: $qt-text-color-aside; }

.qt-content-aside a, .qt-footer a, .qt-tags a, .qt-color-secondary {
	color: $qt-color-secondary; }

.qt-negative, .qt-content-primary-dark,.qt-content-primary,.qt-content-primary-light,.qt-btn-primary, .btn-primary,.qt-secondary, .qt-btn-secondary, .btn-secondary, nav.qt-menubar ul.qt-desktopmenu a:hover, .qt-side-nav a , .qt-sharepage a, .qt-caption-med span , .qt-caption-small span, a.rsswidget, .qt-text-neg, .qt-logo-text, .qt-negative .qt-btn-ghost, .qt-text-neg .qt-btn-ghost, .qt-negative .qt-caption-small span {
	color: $qt-text-color-negative;  }

.qt-mobile-menu, .qt-menu-social a  {
	color: $qt-text-color-negative-light; }


/*  =============================== Background colors =============================== */

body, html, .qt-body {
	background-color:$qt-color-background; }

.qt-paper, .qt-card, .qt-card-s,  .qt-negative .qt-caption-med span, a.rsswidget, input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local],  input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea, table.striped>tbody>tr:nth-child(odd), table.bordered>thead>tr, table.bordered>tbody>tr  {
	background-color: $qt-color-paper; }

.qt-content-primary, .qt-menubar-top,  {
	background-color: $qt-primary-color; }

.qt-content-primary-dark, .qt-menubar , .qt-mobile-menu, .qt-desktopmenu a{
	background-color: $qt-primary-color-dark; }

.qt-content-primary-light {
	background-color: $qt-primary-color-light; }

.qt-accent, .qt-btn-primary, .btn-primary, nav.qt-menubar ul.qt-desktopmenu a:hover, .qt-sharepage a:hover, .qt-btn-primary  {
	background-color: $qt-color-accent !important; }

a.qt-link-layer {
	background-color: $qt-color-accent-hover !important; }

.qt-secondary, .qt-btn-secondary, .btn-secondary, .qt-side-nav li li a, .slick-slider .slick-arrow::after, .slick-slider .slick-dots li.slick-active button {
	background-color: $qt-color-secondary !important; }

.qt-caption-med span, .qt-caption-small span, a.rsswidget   {
	background-color: $qt-text-color-original; }


/* =============================== Border colors =============================== */

.qt-tags a {
	border-color: $qt-text-color-secondary; }

.qt-menubar ul.qt-desktopmenu > li::after, .qt-menubar ul.qt-desktopmenu > li > a::after, .qt-menubar ul.qt-desktopmenu > li > a::before , .qt-menubar ul.qt-desktopmenu > li.current_page_item:hover::after, .qt-menubar ul.qt-desktopmenu > li.current_page_item:hover > a::after, .qt-menubar ul.qt-desktopmenu > li.current_page_item:hover > a::before, .qt-negative .qt-btn-ghost, .qt-negative .qt-widgets .qt-caption-small {
	border-color: $qt-text-color-negative; }

.qt-menubar ul.qt-desktopmenu > li.current_page_item::after, .qt-menubar ul.qt-desktopmenu > li.current_page_item > a::after, .qt-menubar ul.qt-desktopmenu > li.current_page_item > a::before, .qt-pageheader .qt-caption  {
	border-color: $qt-color-accent; }

.qt-caption-small, .qt-negative .qt-caption-small  {
	border-color:  $qt-text-color-original; }


/* =============================================================================================

desktop hover states colors

================================================================================================ */

@media #{$large-and-up} {



	a:hover { 
		color: $qt-color-accent-hover; }

	.qt-menubar-top a:hover {
		color: $qt-color-secondary-hover !important; }

	.qt-btn-primary:hover, .btn-primary:hover {
		background-color: $qt-color-accent-hover !important; }

	.qt-btn-secondary:hover, .btn-secondary:hover {
		background-color: $qt-color-secondary-hover !important; }

	.qt-tags a:hover {
		border-color: $qt-color-secondary-hover !important; }

}


