/* COLOR TIPS: http://materializecss.com/color.html ===*/

/* Negative skin */
$qt-primary-color: #454955;
$qt-primary-color-light: #565c68;
$qt-primary-color-dark: #101010;


$qt-color-accent: #dd0e34;
$qt-color-accent-hover: #ff0442;
$qt-color-secondary: #64c9d9;
$qt-color-secondary-hover: #58a4b0;

$qt-color-background: #222;
$qt-color-paper: #000000;


$qt-text-color-original: #fff;
$qt-text-color: rgba($qt-text-color-original,.87);
$qt-text-color-secondary: rgba($qt-text-color-original,0.65);
$qt-titles-color: rgba($qt-text-color-original,0.75);
$qt-text-color-aside: rgba($qt-text-color-original,0.65);
$qt-text-color-divider-and-hints: rgba($qt-text-color-original,0.38);

$qt-text-color-negative: $qt-color-paper;
$qt-text-color-negative-light: $qt-text-color-secondary;


$qt-text-color-on-primary: #fff;

/* */
// positive skin //////////////////////////////////////////////

$qt-primary-color: #454955;
$qt-primary-color-light: #565c68;
$qt-primary-color-dark: #101010;


$qt-color-accent: #dd0e34;
$qt-color-accent-hover: #ff0442;
$qt-color-secondary: #64c9d9;
$qt-color-secondary-hover: #58a4b0;

$qt-color-background: #f1f2f5;
$qt-color-paper: #fff;

$qt-text-color-original: #000;
$qt-text-color: rgba($qt-text-color-original,.87);
$qt-text-color-secondary: rgba($qt-text-color-original,0.65);
$qt-titles-color: rgba($qt-text-color-original,0.75);
$qt-text-color-aside: rgba($qt-text-color-original,0.65);
$qt-text-color-divider-and-hints: rgba($qt-text-color-original,0.38);

$qt-text-color-negative: #ffffff;
$qt-text-color-negative-light: rgba(255,255,255,0.65);
$qt-text-color-on-accent: #fff;




/* Addiing custom palette to materializecss framework */

$primary-color: $qt-color-accent;
$primary-color-light: $qt-color-accent-hover;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: $qt-color-secondary;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $qt-color-accent;
$link-color-hover: $qt-color-accent-hover; 





/**===========================================================================================
 =============================================================================================
 =============================================================================================
 =============================================================================================
 *
 * NOT CUSTOMIZABLE 
 * 
*/

/*  Dark colors */
.qt-widgets-footer {
	color: rgba(255, 255, 255, 0.8);
	/* Backgrounds */
	.qt-caption-small span,  .qt-caption-small a.rsswidget {
		background-color: #dedede !important;
		color: #000 !important;
		
	}
	.qt-caption-small {
		border-color: #dedede !important;
	}
}
/*  Fixed colors  */
.qt-accent , .qt-text-white, .qt-menubar a, a.qt-sharelink, .qt-text-white h1, .qt-text-white h2, .qt-text-white h3, .qt-text-white h4, .qt-text-white h5, .qt-text-white h6, .qt-pageheader h1, .qt-pageheader h2, .qt-pageheader h3, .qt-pageheader h4, .qt-pageheader h5, .qt-pageheader h6, .qt-menubar-top a {
	color: #fff !important;
}

.qt-pageheader {
	h1, h2, h3, h4, h5, h6 {
		a {
			color: $qt-color-accent;
		}
	}
}

[class*="qt-content-primary"]
{
	h1, h2, h3, h4, h5, h6 {
		color: #fff !important; 
	}
	.qt-btn-ghost {
		border-color: #fff !important;
	}
	color: #fff !important; /* variable: $qt-text-color-on-primary; */ ////////////////////////////////////////////////////////////////// !!!!!! NEW VARIABLE!!!!! ////////////////////////////////////////////
}
.qt-side-nav a {
	color: #fff !important;
}

.qt-menubar ul.qt-desktopmenu>li::after, .qt-menubar ul.qt-desktopmenu>li>a::after, .qt-menubar ul.qt-desktopmenu>li>a::before, .qt-menubar ul.qt-desktopmenu>li.current_page_item:hover::after {
	border-color: #fff !important;
}
/**
 *
 * NOT CUSTOMIZABLE END
 *
 * =============================================================================================
 * =============================================================================================
 * =============================================================================================
 =============================================================================================*/

