


/* DESKTOP ======================================================= */

@media #{$large-and-up} {

	/*  GENERAL */
	.qt-spacer-xl {
		margin-top: 10rem;
	}
	.qt-spacer-l {
	margin-top: 6rem;
	}
	.qt-spacer-m {
		margin-top: 2.8rem;
	}
	.qt-spacer-s {
		margin-top: 1.4rem;
	}

	.qt-vertical-padding-l {
		padding: 6rem 0 4rem 0;
	}
	.qt-vertical-padding-m {
		padding: 2.8rem 0 2rem 0;
	}

	.qt-vertical-padding-s {
		padding: 1.4rem 0;
	}
	.qt-paddedcontainer {
		padding: 3rem;
	}

	/*  TITLES */

	$qt-font-scale-desk: 1.414rem;
	$qt-titles-scale-desk: 1.414;
	$qt-titles-base-desk: 16px;
	$qt-titles-lineheight-desk: 1.05;

	@keyframes mbarmnuA { 
		0% {  transform: scaleX(0.9); -webkit-transform: scaleX(0.9) ;}  
		25% { transform: scaleX(0.3); -webkit-transform: scaleX(0.3) ;}
		50% { transform: scaleX(1); -webkit-transform: scaleX(1) ;} 
		75% { transform: scaleX(0.1); -webkit-transform: scaleX(0.1) ;} 
		100% { transform: scaleX(1); -webkit-transform: scaleX(1) ;}  
	}


	@keyframes mbarmnuB {  
		0% {  transform: scaleX(1); -webkit-transform: scaleX(1) ;}  
		25% { transform: scaleX(0.8); -webkit-transform: scaleX(0.8) ;}
		50% { transform: scaleX(0.7); -webkit-transform: scaleX(0.7) ;} 
		75% { transform: scaleX(0.3); -webkit-transform: scaleX(0.3) ;} 
		100% { transform: scaleX(0.2); -webkit-transform: scaleX(0.2) ;}  
	}
	@keyframes mbarmnuC {  
		0% {  transform: scaleX(0.8); -webkit-transform: scaleX(0.8) ;}  
		25% { transform: scaleX(0.5); -webkit-transform: scaleX(0.5) ;}
		50% { transform: scaleX(1); -webkit-transform: scaleX(1) ;} 
		75% { transform: scaleX(0.4); -webkit-transform: scaleX(0.4) ;} 
		100% { transform: scaleX(0.1); -webkit-transform: scaleX(0.1) ;} 
	}




	h1, h2, h3, h4, h5, h6 {
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		line-height: 1.05em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-rendering: geometricPrecision;
	}
	h6 {
		font-size: 13px;;
	}
	h5 {
		font-size: $qt-titles-base-desk;
	}
	h4 {
		font-size: 1.414rem;
	}
	h3 {
		font-size: 2rem;
	}
	h2 {
		font-size:  2.827rem;
	}
	h1 {
		font-size: 4rem;
	}



	blockquote { 
		padding: 1rem 1rem 1rem  5rem;
		min-height: 5rem;
		&::before {
		    width:3rem;
		    position:absolute;
	  	}
	}

	.qt-ellipsis {
		&.qt-t {
			line-height: 1.05em;
			height: 1.05em; /* Fallback for non-webkit */
		}
	}
	
	/* Masonry columns
   ========================================================================== */
	.qt-masonry {
		.qt-ms-item {
			width: 25%;
		}
	}


	/* Menu desktop
    ========================================================================== */
    .qt-logo-text {
		font-size:  $qt-titles-base-desk * (2 * $qt-titles-scale-desk);
		line-height: 2 * $qt-font-scale;
		height: 2 * $qt-font-scale;
		img {
			height: 3 * $qt-font-scale-desk;
			width: auto;
		}

	}

	.qt-menubar-top {
		font-family: 'Oswald', sans-serif;
		line-height: 36px;
		font-weight: 300;
		overflow: hidden;
		display: block;
		height: 36px;
		transition: height 0.3s ease;
		ul {
			li {
				display: inline;
				
				a {
					padding: 0 0.5rem;
					i.qt-socialicon {
						font-size: 24px;
						line-height: 36px;
						top: 5px;
						position: relative;
					}

				}
				&.right a {
	   				padding: 0 ;
	   				margin: 0;
	   			}
			}
		}
	}
	





	.qt-menubar {
		line-height: 3 * $qt-font-scale-desk;
		height:3 * $qt-font-scale-desk;
		
		.brand-logo {
			position: relative;
			margin: 0 5px 0 0;
		}
		ul.qt-desktopmenu {
			> li {
				line-height: 3 * $qt-font-scale-desk;
				height:3 * $qt-font-scale-desk;
				display: inline-block;
				float: left;
				position: relative;
				&::after {
					display: block;
					width: 13px !important;
					height: 17px;
					border-bottom: 2px solid $qt-text-color-negative;
					position: absolute;
					left: 0;
					top: $qt-font-scale-desk;
					content: " ";
					margin-top: 0px;

					animation: mbarmnuA 0.5s forwards;
					animation-duration: 1.8s;
					animation-iteration-count: 0; 
					transform-origin: 0 0;
					opacity: 0.6;
				}
				


				> a {
					padding: 0 ( 1.4rem );
					line-height: 3 * $qt-font-scale-desk;
					&::before, &::after {
						display: block;
						width: 13px !important;
						height: 8px;
						border-top: 2px solid $qt-text-color-negative;
						border-bottom: 2px solid $qt-text-color-negative;
						position: absolute;
						left: 0;
						top: $qt-font-scale-desk;
						content: " ";
						margin-top: 3px;

						animation: mbarmnuB 0.5s forwards;
						animation-duration: 1.8s;
						animation-iteration-count: 0; 
						transform-origin: 0 0;
						opacity: 0.6;
					}
					&::after {
						// display: none;
						transform-origin: 0 0;
						animation: mbarmnuC 0.8s forwards;
						animation-iteration-count: 0; 						 
						animation-duration: 1s;
						width: 20px !important;
						margin-top:6px;
					}

				}

				&.right {
					border-left: 1px solid rgba(255,255,255,0.38);
					
				}

				&.right , &.right > a, .brand-logo , &.qt-logo-link {
					&::after, &::before {	
						display: none;
					}
				}
				&:hover {
					&::after , > a::after, > a::before {
						animation-iteration-count: infinite; 
						opacity: 1;
					}
				}




				ul {
					position: absolute;
					display: none;
				    margin-top: 1px;
				    min-width:300px;
				    li {
				    	display: block;
				    	width: 100%;
				    	overflow: hidden;
				    	a {
				    		display: inline-block;
				    		width: auto;
				    		float: left;
				    		line-height: 1.5 *  $qt-font-scale-desk;
				    		padding: 0  1rem ;
				    	}
				    	> ul {
				    		display: none;
				    		position: absolute;
				    		left: -20000px;
				    	}
						&:hover > ul {
								position: relative;
								left: 15%;
								display: block;
							
						}
				    	
				    }
				    &::after {
				    	display: block;
				    	clear: both;
				    	width: 100%;
				    }
				}
				&::after {
			    	display: block;
			    	clear: both;
			    	width: 100%;
			    }
				&:hover {
					ul {
						display: block;
					}
				}

			}
		}
	}

	.qt-playertype-header {
		.qt-menubar {
			z-index: 99999 !important;
		}
	}

	/*  Sticky menu */

	body.qt-stickymenu {

		/*
		A) 	NO ADMIN BAR
			- A1) 	SINGLE MENU
					- A1.1) SINGLE MENU NON SCROLLED
					- A1.2) SINGLE MENU SCROLLED
			- A2) YES SECONDARY MENU
					- A2.1) SECONDARY MENU NON SCROLLED)
					- A2.2) SECONDARY MENU SCROLLED

		B) 	ADMIN BAR
			- B1) 	SINGLE MENU
					- B1.1) SINGLE MENU NON SCROLLED
					- B1.2) SINGLE MENU SCROLLED
			- B2) YES SECONDARY MENU
					- B.1) SECONDARY MENU NON SCROLLED)
					- B2.2) SECONDARY MENU SCROLLED
		*/

		/**
		 * ========================================================================
		 * ========================================================================
		 * A: NO ADMIN BAR
		 * ========================================================================
		 * ========================================================================
		 */
		
		/**
		 * ====================================
		 * A1: NO SECONDARY MENU
		 * ====================================
		 */
		
		// A1.1 NORMAL (NON SCROLLED) NON ADMIN BAR
		.qt-main-menubar {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 200;
			.qt-menubar-top {
				transition: height 0.3s ease;
				height: 36px;
			}
		}
		.qt-main {
			padding-top: 68px;
		}
		.qt-expandable.qt-searchbar {
			top: 68px;
			position: fixed;
		    z-index: 199;
		    width: 100%;
		    &.qt-topplayer-space {
				top: 188px;
				transition: top 0.3s ease;
			}
		}
		// A1.2 SCROLLED
		&.skrollable-after {
			.qt-expandable.qt-searchbar {
			    &.qt-topplayer-space {
					top: 68px;
				}
			}
		}

		
		


		/**
		 * ====================================
		 * A2: YES SECONDARY MENU
		 * ====================================
		 */

		// A2.1 NON SCROLL
		&.qt-has-secondarybar {
			.qt-menubar-top {
				transition: height 0.3s ease;
				height: 36px;
			}
			.qt-expandable.qt-searchbar {
				top: 100px;
				transition: top 0.3s ease;
				&.qt-topplayer-space {
					top: 104px;
				}
			}
			&.qt-playerbar-open {
				.qt-expandable.qt-searchbar {
					top: 100px;
					transition: top 0.3s ease;
					&.qt-topplayer-space {
						top: 218px;
					}
				}
			}
		}

		// A2.2) SECONDARY MENU SCROLLED

		&.qt-has-secondarybar.skrollable-after {
			.qt-main-menubar {
				.qt-menubar-top {
					height: 0;
				}
			}
			.qt-expandable.qt-searchbar {
				top: 68px;
				
			}
			.qt-expandable.qt-searchbar {

			}
			&.qt-playerbar-open {
				.qt-expandable.qt-searchbar {
					top: 188px;
				}
			}
		}


		/**
		 * ========================================================================
		 * ========================================================================
		 * B: WITH ADMIN BAR
		 * ========================================================================
		 * ========================================================================
		 */
		

		/**
		 * ====================================
		 * B1: ADMIN BAR + NO SECONDARY MENU
		 * ====================================
		 */
			
		// B1.1) SINGLE MENU NON SCROLLED
		&.admin-bar {
			.qt-main-menubar {
				top: 32px;
			}
			.qt-searchbar {
				top: 100px;
			 &.qt-topplayer-space {
			 	top: 220px;
			 }
			}
		}


		// B1.2 SINGLE MENU SCROLLED
		&.admin-bar.skrollable-after {
			.qt-expandable.qt-searchbar {
			    &.qt-topplayer-space {
					top: 110px;
				}
			}
		}
		///  NO OTHER CSS NEEDED FOR THIS CASE
		
		/**
		 * ====================================
		 * B2: ADMIN BAR + CON SECONDARY MENU
		 * ====================================
		 */
		

		// B.1) ADMIN BAR + SECONDARY MENU NON SCROLLED
		// 
		&.admin-bar.qt-has-secondarybar {
			.qt-searchbar {
				top: 136px;
				&.qt-topplayer-space {
					top: 252px;
				}
			}
			&.qt-playertype-header {
				.qt-expandable.qt-searchbar {
					top: 132px;
				}
				&.qt-playerbar-open {
					.qt-expandable.qt-searchbar {
						top: 254px;
					}
				}
			}
			
		}
		
		// B2.2 SCROLLATO
		&.admin-bar.qt-has-secondarybar.skrollable-after {
			.qt-searchbar {
				top: 100px;
			}
			&.qt-playertype-header {
				.qt-expandable.qt-searchbar {
					top: 100px;
				}
				&.qt-playerbar-open {
					.qt-expandable.qt-searchbar {
						top: 220px;
					}
				}
			}
		}

	}




	/* Page header
    ========================================================================== */
	.qt-pageheader {
		padding: 220px  0 250px 0;
		padding: 24vh  0 28vh 0;
		transition: padding 1.5s ease-out;
		[data-bgimage] {
			background-attachment: fixed;
		}
		&.qt-pageheader-scrolled {
			padding: 70px  0;
			padding: 9vh  0;
		}
	}
	

	/* 12.07. Share page
   ========================================================================== */
	.qt-sharepage.qt-sharepage-vertical {
		width: 100%;
		display: block;
		overflow: normal;
		max-width: 76px;
		li { 
			display: block;
			float: none;
			width: 100%;
			line-height: 2em;
			height: auto;
			a, .qt-thareicon {
				display: block;
				width: 100%;
				padding: 10px   0;
				opacity: 1;
				line-height: 1.8em;
				height: auto;

			}
		}

	}

	/* Content
   ========================================================================== */
   .qt-the-content {
		line-height: 1.9em;
		.qt-post-author {
			.qt-post-author-link {
				padding-top: 0;
			}
		}
	}

	/* Comments
   ========================================================================== */
	.qt-comment-respond {
		padding: 3rem;
	}


	/* Slick slider (desktop for slidk-slider.scss)
   ========================================================================== */

	.qt-slickslider-container {

		.slick-slider {
			
			&.qt-slickslider-single {
				.qt-item {
					max-width: $qt-max-container-size;
					width: $qt-max-container-size;
					.qt-part-archive-item {
						&.qt-part-item-post-hero {
							.qt-item-header {
								.qt-header-mid {
									padding: 80px 0;
									min-height: 580px;
								}
							}
							margin-bottom: 0;
						}
					}
				}
				.slick-dots {
					bottom: 10px;
				}
			}

			&.qt-slickslider-multiple {
				.qt-item {
					max-width: $qt-max-container-size;

					.qt-part-archive-item {

						&.qt-vertical {
							.qt-item-header {
								.qt-header-mid {
									min-height: 390px;
									height: 390px;
									padding: 0 1rem;;
									.qt-item-title {
										font-size: 2rem;
									}
								}
							}	
						}
					
					}
				}
			}
			.slick-dots {
				bottom: 40px;
			}

		}

		
		.slick-arrow {
			position: absolute;
			border: none;
			display: block;
			top: 0;
			left: 0;
			z-index: 100;
			height: 100%;
			width: 150px;
			cursor: pointer;
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			outline: none;
			color: transparent;
			font-size: 0;
			opacity: 1;
			transition: opacity 0.3s;
			// display: none;
			&:hover {
				opacity: 1;
			}
			&.slick-next {
				left: auto;
				right: 0;
				background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,1) 100%);
				background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,1) 100%); 
				background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
				&::after {
					content: "\56";
				}
			}
		}
		
	}




	/* Show contents
   ========================================================================== */
	.qt-show-contents .qt-contents .qt-show-tagline .qt-title {
    font-size: 94px; padding: 0; margin: -10px 0 0 0; letter-spacing: 0;}

    /* Show schedule */
    .qt-part-show-schedule-day-item .qt-overinfo {
    	transition: top 0.3s ease;
    }
    .qt-part-show-schedule-day-item:hover .qt-overinfo {
    	top: 0%;
    }

    .qt-show-contents {
		.qt-contents {
			padding: 3rem 2.8rem;
			.qt-content-readmore {
				margin-top: 1.4em;
			}
		}
	}
	.qt-show-contents .qt-showcard {min-height: 455px;}
	.qt-show-social {
		margin-top: 13px;
	}
	.qt-show-social a {
		font-size: 40px;
		margin-right: 4px;
	}


    /* Archive items: base for styling any archive items. Some may differ for size and proportions.
   ========================================================================== */
    .qt-part-archive-item {
    	.qt-item-header {
	    	.qt-header-mid {
				padding: 90px 0;
			}
		}

    	.qt-item-content {
    		padding: 70px;
    	}
    	.qt-item-content-s {
    		padding: 45px;
    	}
    	.qt-item-content-xs {
    		padding: 1.414rem;
    	}

    	/* vertical post
   		========================================================================== */
    	&.qt-vertical {
    		.qt-item-header {
		    	.qt-header-mid {
					padding: 90px 0;
					min-height: 400px;
				}
			}
    	}
    	/* compact
	   ========================================================================== */
		&.qt-compact {
			margin: 0;
			.qt-item-header {
		    	.qt-header-mid {
					padding: 30px 0;
				}
			}
		}

		/* post hero
	   ========================================================================== */
		&.qt-part-item-post-hero {
			.qt-item-header {
		    	.qt-header-mid {
					max-width: 850px;
					margin: 0 auto;
					.qt-the-content {
						max-width: 600px;
						margin: 0 auto;
					}
				}
			}
			margin-bottom: 1rem;
		}

		/* TITLE IN OVERLAY WIDGET
		========================================================================== */
    }
    /* Chart tracklist
    ========================================================================== */
	.qt-chart-tracklist {

		.qt-chart-track {
			.qt-chartvote {
				&-link, &-number  {
					line-height: 25px;
					height: 34px;
				}
			}
			$size: 100px;
			.qt-chart-table {
				display: table;
				.qt-position, .qt-titles, .qt-action {
					display: table-cell;
					width: $size;
				}
				.qt-position {
					height: $size;
					p {
						line-height: $size;
						font-size: 44px;
						height: $size;
					}
				}
				.qt-titles {

					width: auto;
					padding: 0 14px 0 40px;
					h4 {
						font-size: 20px;
					}
					p { line-height: 1em; margin-top: 0;font-size: 13px; padding-top: 3px;}
				}
				.qt-action {
					display: table-cell;
					width:auto;
					padding: 0 20px 0 14px;
					a {
						max-width: 50px;
						float: right;
					}
				}
			}
		}
		&.qt-chart-small {
			.qt-chart-track .qt-chart-table .qt-titles {
				p {
					font-size: 11px;
					padding-top: 3px;
				}
				h4 {
					font-size: 16px;
				}
			} 
		}
	}

	/* Player container
    ========================================================================== */
	.qt-playercontainer {
		&-ads-mobile {
			display: none;
		}
		&-ads-desktop {
			display: inline-block;
			width: auto;
			height: auto;
			max-width: 500px;
			float: left;
			max-height: 600px;
			padding: 0;
			a {
				margin: 0;
				padding: 0;
			}
			img {
				max-width: 100%;
				haigh: auto;
				line-height: 0;
				margin: 0 !important;
				padding: 0 !important;
			}
		}
	}

	/* Player headerbar
    ========================================================================== */

	.qt-player-headerbar {
		position: relative !important;
		height: 0px;
		transition: height 0.4s ease !important;
		overflow: hidden;
		z-index: 0 !important;
		.qt-openplayerbar {
			display: none !important;
		}
		.qt-part-channels-list {
			width: 300px; // desktop
			position: absolute; // desktop
			height: 300px; // desktop
			height: calc(80vh - 180px); // desktop
			overflow: auto; // desktop
			transform: scaleY(0); // desktop
			transition: transform 0.1s ease; // desktop
			transform-origin: 0 0; // desktop
			right: 0;
			top: 120px;
			&.open {
				height: 80vh; 
				transform: scaleY(1); // desktop
			}
		}
		.qt-playercontainer {

			.qt-playercontainer-content {
				width: 100%;
				padding-top: 0em;
				height: 0px;
				overflow: hidden;
				transition: height 0.4s ease;
				.qt-playercontainer-dropdown {
					display: inline;
					padding: 1.4rem;
					width: 180px;
					float:right;
					margin-top: 10px;
					.qt-btn {
						width: 100%;
						cursor: pointer;
						display: block;
						text-align: left;
						i {
							font-size: 1.4em;
							float: right;
						}
					}
				}
				.qt-playercontainer-header {
					width: 250px; // desktop
					display: inline; //desktop
					float: left; //desktop
					text-align: left; //desktop
					h3 {
						word-break: break-all;
					}
				}
				$size: 120px; // desktop 120px
				.qt-playercontainer-musicplayer {
					
					width: $size; // desktop $size
					height: $size;
					float: left;
					padding: 5px;
					margin: 0; // desktop 0;
					.qt-musicplayer {
						float: left; // desktop
						margin: 0; // desktop
						float: none;
					}
					.qt-musicplayer, .ui360, .sm2-360ui {
						$size: 110px;
						width: $size;
						height: $size;
						min-width: $size;
						min-height: $size;
					}
					.sm2-timing {
						&::before {
							content: "VOL";// desktop 
						}
					}
					.sm2-canvas.hi-dpi {
						width: $size * 2;
						height: $size * 2;
						transform: scale(1); // desktop
					}
				}
				.qt-playercontainer-data.qt-container {
					height: 110px;
					width: 400px; //desktop
					float: left; // desktop
					padding: 0.7rem 1.4rem 0 1.4rem; // desktop
				}
			}
		}
		.qt-playercontainer {
			&-ads-desktop {
				max-height: 110px;
			}
		}
	}
	.qt-header-player-spacer {
		height: 0px;
		border: none;
		transition: height 0.3s ease;
		will-change: height;
	}
	
	body.qt-playerbar-open {
		height: auto;
		overflow: auto;
		.qt-player-headerbar, .qt-header-player-spacer, .qt-player-headerbar .qt-playercontainer .qt-playercontainer-content {
			height: 120px;
			overflow: visible;
		}
	}
	.qt-notsticky-menu {
		.qt-header-player-spacer {
			height: 0 !important;
		}
		.qt-player-headerbar { z-index:10000 !important }
	}
}




