/* = Gallery
==============================================================*/

.gallery-caption {
  white-space: pre-line;
  margin-top:  -18px;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	color: #444;
	font-size: 12px;
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin-bottom: 0.8075em;
	margin-top: 0.8075em;
}
.gallery {
	margin: -5px !important	;
	margin-bottom: 0;
	.gallery-item {
		padding: 5px;
		margin-top: 0 !important;
		.gallery-icon  {
			margin: 0;
			img {
				border: none !important;
				padding: 0;
			}
		}
	}
}

.single-event .qt-the-content::after {
  content: " ";
  display:  block;
  width: 100%;
  clear: both;
}