.qt-player-headerbar {
	position: relative;
	height: 0;
	transition: height 0.2s ease;
	overflow: hidden;
	width: 100%;
	.qt-part-channels-list {
		z-index: 300000;
		height: 0;
		overflow: hidden;
		&.open {
			height: auto;
		}
	}
	.qt-playercontainer {
		
		.qt-playercontainer-content {
			width: 100%;
			display: inine-block;
			width: 100%;
			padding: 50px 0 0.2rem 0;
			&::after {
				display: block;
				content: " ";
				width: 100%;
				clear: both;
				height: 1px;
			}
			.qt-playercontainer-dropdown {
				display: none;
			}
			.qt-playercontainer-header {
				padding:  1.4rem 1.4rem 0 1.4rem;
				h3 {
					margin-top: 0.4rem;
				}
			}
			.qt-playercontainer-musicplayer {
				$size: 240px; // desktop 120px
				width: 100%; // desktop $size
				height: $size;
				float: left;
				overflow: hidden;
				display: inline-block;
				padding: 0 auto; // desktop 0;
				margin: 0;
				.qt-musicplayer {
					
					margin-bottom: 1rem ;
				}
				.qt-musicplayer, .ui360, .sm2-360ui {
					$size: 225px; 
					width: $size;
					height: $size;
					min-width: $size;
					min-height: $size;
				}
				
				.sm2-timing {
					font-size: 12px;
					&::before {
						display: inline;
						margin-right: 3px;
					}
				}
				.sm2-canvas.hi-dpi {
					width: $size * 2;
					height: $size * 2;
					transform: scale(0.5);
				}
				.ui360 .sm2-360btn {
					width: 50px;
					height: 50px;
					margin-left: -25px;
					margin-top: -25px;
				}
				.ui360 .sm2-360btn-default::after, .ui360 .sm2-360ui.sm2_paused .sm2-360btn::after, .ui360 .sm2-360ui::after {
					width: 50px;
					height: 50px;
					margin-left: -25px;
					margin-top: -25px;
					line-height: 50px;
					font-size: 20px;
					vertical-align: middle;
					line-height: 35px;
					padding-left: 0;
				}
			}
			.qt-playercontainer-data.qt-container {
				width: 100%;
				text-align: left;
				display: inline-block;
				margin: 0;
				clear: none;
				padding: 1.4rem;
			}
		}
	}
	.qt-closeheaderplayer {
		position: fixed;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		z-index: 500;
		background: black;
		color: #fff;
		display: none;
		line-height: 60px;
		font-size: 40px;
		text-align: center;
	}


}
.qt-playerbar-open {
	height: 100vh;
	overflow: hidden;
	.qt-player-headerbar {
		height: 90%;
		height: 90vh;
		height: calc(100% - 50px);
		height: calc(100vh - 50px);
		position: fixed;
		overflow: auto;
		z-index: 900;
		top: 0;
		.qt-closeheaderplayer {
			display: block;
		}
		.qt-part-channels-list {
			height: auto;
		}
	}

}