.qt-showscheduled {

	h2 {
		text-align: center;
		padding: 0.7em;
	}
	table {

		tr {
			td, th {
				text-align: center;
				border-radius: 0;
				font-size: 1.2rem;
				line-height: 1.5em;
				border-bottom: 2px solid rgba(0,0,0,0.04);
			}
		

			i {
				opacity: 0.5;
			}

			&:last-of-type, &:first-of-type {
				td, th {
					border-bottom: none;
				}
			}
		}
		
	}
}