.qt-sponsors {
	background: rgba(0,0,0,0.1);
	.row {
		padding: 0 1.5rem;
	}
	a.qt-sponsor {
		display: block;
		padding: 0 2rem;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.qt-sponsor-fx{
	a.qt-sponsor {
		img {

		 	filter: none;
		    -webkit-filter: grayscale(100%);
		    -moz-filter:    grayscale(100%);
		    -ms-filter:     grayscale(100%);
		    -o-filter:      grayscale(100%);
		    transition: all 0.3s;
		}
		&:hover {
			img {
				filter: none;
			    -webkit-filter: grayscale(0%);
			    -moz-filter:    grayscale(0%);
			    -ms-filter:     grayscale(0%);
			    -o-filter:      grayscale(0%);
			}
		}
	}
}