

/* = Widgets
==============================================================*/

$qt-font-small: 14px;

.qt-widget    {
	margin-bottom: 2.8rem;
	font-size: $qt-font-small;


	h4.qt-widget-title { 
		line-height: 1.3em;
		padding: 20px 0px 10px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-top: 0;
	}
	.wp-caption.alignnone {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	a:hover {text-decoration:underline;}
	a.btn:hover {
		text-decoration: none;
	}

	.recentcomments a {font-style: italic;}
	cite { font-size: .9em; }


	ul {  
		margin-top:10px;padding-left:10px;
	}
	
	.qt-panel-contents > ul { margin-top:0;padding-left:0;margin: 0;}

	table caption { text-align: left; }

	ul { 
		li {
			list-style-type:none; 
			border-bottom:1px dotted #dedede; padding: 7px 0; margin: 0;
		}
		li.cat-item:first-child {padding-top:0;}
		li:first-child {padding-top:0;} 
		li:last-child {border:none;}
		
		li.cat-item, li.cat-item li.cat-item {  border-bottom:1px dotted #dedede; padding: 4px 0;}
		li.cat-item li.cat-item {border:none;}
		li.cat-item:last-child {border:none;}
		li.cat-item a {  display:inline; border-bottom:none;}
		li.page_item, li.page_item li {margin-left:15px;}
		li.page_item li,aside li.menu-item li { list-style-type:circle; margin-left:8px;}
		li a.qt-blocklink {display:block;}
		li {padding-bottom:0;
			line-height:1.5em;
			border-bottom:none;
			margin: 0;
			padding: 0.15em 0;
		}
		> li.page_item {margin-left:0;}
		margin:8px 0 0 5px ;
	}

	& > ul {  margin: 0; padding: 0;}

	ul.menu {margin:0;padding:0;}

	.qt-searchform input {
	    border: 2px solid;
	    padding: 10px;
	    box-sizing: border-box;
	}

	&.widget_rss {
		.rss-date {
			font-size: 11px;
			margin-bottom: 4px;
		}
		li a.rsswidget {
			background: transparent;
			color: inherit;
			display: block;
			font-weight: bold;
			font-size: 16px;
			display: block;
			margin-top: 12px;
			border-bottom: 1px solid rgba(0,0,0,0.5);
			padding-bottom: 3px;
			&:hover {
				text-decoration: none;
			}
		}
		.qt-caption-small {
			a.rsswidget {
				padding: 0 8px;
				&:first-child {
					display: none;
				}
			}
		}
	}

	/* theselect */
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	    display: block;
	    padding: 8px 10px;
	    line-height: 1.4em;
	    margin: 18px 0;
	    width: 100%;
	    word-break: break-all;
	    position: relative;
	    box-sizing: border-box; 
	    border-radius: 0px;
	    outline: none;
	}


	input[type="text"]{
		width: 100%;
		padding:7px 10px;
		box-sizing:border-box;

	}

	font-size: $qt-font-small;
	font-weight: 300;
	 > ul {
		margin: 0 0 20px 0;
	}
	/* Custom widgets formatting */
 	ul.qt-archives-widget {
 		li {
 			a {
 				display: block;
 			}
 			img {
 				width: 60px;
 				height: auto;
 				float: left;
 				margin: 0 20px 0 0;
 			}
 			.tit {
 				margin: 0 0 5px 0;
 				padding: 0;
 				line-height: 1.2em;
 			}
 			p {
 				margin: 0;
 				padding: 0;
 				line-height: 1.2em;
 			}
 			border-bottom: 1px solid rgba(100,100,100,0.3);
    		padding: 0 0 5px 0;
 			clear:both;
 			margin: 5px 0;
 			&::after {
 				display: table;
 				clear: both;
 				width: 100%;
 				content: " ";
 			}
 		}
 	}
 	.readalllink {
 		padding-top: 10px;
 	}
 	.calendar_wrap {
 		caption {
 			font-size: 1.2em;
 			text-transform: uppercase;
 		}
 		td {
 			padding: 4px;
 		}
 	}


	/*  Special widgets ======================================================================== */




	.qt-widget-onair {
		img {
			width: 100%;
			height: auto;
			margin-bottom: -20px;
		}
		.qt-caption-med {
			margin-bottom: 10px;
			position: relative;

		}
		p.qt-small {
			padding: 0 20px;
		}
		padding-bottom: 20px;
	}


	.qt-widget-upcoming {
		li {
			position: relative;
			margin-bottom: 8px;
			padding: 7px 0 !important;
			h5{
				/* float: left; */
				padding: 4px 100px 0 13px;

			}
			p {
				float: left;
				padding: 0 100px 2px 13px;
				font-size: 13px;
				opacity: .65;
			}
			img {
				position: absolute;
				right: 7px;
				left: auto;
				top: 7px;
				width: 100px;
				height: auto;
			}
			&::after {
				content: " ";
				display: block;
				height: 0;
				width: 100%;
				clear: both;
				position: relative;
			}
		}
	}

	.qt-widget-sponsor {
		text-align: center;
		a {
			padding: 20px;
			width: 100%;
			height: auto;
			display: block;
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.qt-widget-contacts {
		p {
			padding: 0.5rem 0 0 0;
			&:first-of-type {
				padding-top: 0;
			}
		}
		i {
			font-size: 1.414rem;
			position: relative;
			top: 0.28rem;
			margin-right: 0.7rem;
		}
	} 
	.qt-widget-chart {
		.qt-featuredimage, .qt-title {
			margin-bottom: 0.3rem;
		}
		.qt-btn {
			width: 100%;
		}
		ul.qt-chart-tracklist {
			margin: 0;
			padding: 0 0 0.3rem 0;
		}
	}

	
}
.fb_box iframe {
	margin: 0 -10px;
	border:none; 
	overflow:hidden; 
	width:100%; 
	border:none; 
	overflow:hidden;
}
 
aside.widget_text img {max-width:100%;height:auto;}




.qt-widget .qt-post-archive-item .qt-item-layers {
	.qt-overlay .qt-item-title {
	    padding: 1em 2em 2.3em 2em;
	}
}


/* = Tags
==============================================================*/

.tagcloud {
	a {
		background-color: transparent;
		background: rgba(200,200,200,0.3);
		// color: $color-ink;
		padding: 3px 8px;
		text-transform: uppercase;
		white-space: nowrap;
		letter-spacing: 0.1em;
		font-weight:  bold;
		font-size: 12px !important;
		&:hover {
			background: rgba(200,200,200,0.5);
		}
	}
	a:hover {
		text-decoration: none;
	}
	padding-bottom: 20px;
	line-height: 1.9rem;
}
